# Игнорируем виртуальное окружение
venv/
.env

# Игнорируем PDF-файлы
*.pdf

# Игнорируем файлы __pycache__ и байт-код Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
